[includeIf "gitdir:~/.dotfiles/.git"]
	path = .gitconfig-github
[includeIf "gitdir:~/github/"]
	path = .gitconfig-github
[includeIf "gitdir:~/company/xmly/"]
	path = .gitconfig-xmly
[core]
	editor = vim
